.main {
    font-size: 40px;
    font-weight: 500;
    /* background-color:  #cc99a2; */
    margin: 10px;
    padding-top: 20px;
    color: #000000;
}

.login {
    font-weight: 500;
    
}

.div-signin {
    background-color: #555;
    color: white;
    opacity: 0.9;
    margin: 40px;
    width: 300px;
    padding: 20px;
  
}

.signup {
    margin: 100px;
}




